!!!
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
    %title Juego: Piedra, papel, tijeras
    %link{:href => "/public/style.css", :rel => "stylesheet"}
  %body#global
    %center
      %h1#usuario Usuario
      -throws.map do |x| 
        %a{:href=>"/?choice=#{x}"}
          %p
          %button#boton #{x}
          %p
      %h1#ordenador Ordenador
      %h2=computer_throw
      %h1#resultado Resultado
      %h2=answer
      

